<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC    
   "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eduConnect.mapper.AttendMapper">
<insert id="attendWrite" parameterType="attend">
insert into attendance_records(attend_num, course_num, student_num, session_num, attend_status)
values((select concat('att' , coalesce(max(substr(attend_num,4)::Integer),100000) + 1) from attendance_records)
	   , #{courseNum},#{studentNum},#{sessionNum},'결석')
</insert>

<update id="attendUpdate">
update attendance_records set 
	attend_status = '출석'
where student_num = #{studentNum}
and course_num = #{courseNum}
and session_num = #{sessionNum}
</update>
</mapper>