<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

강의번호 : [[${dto.courseNum}]]<br/>
강사번호 : [[${dto.teacherNum}]]<br/>
강의제목 : [[${dto.courseName}]]<br/>
강의내용 : [[${dto.courseContent}]]<br/>
강의실 : [[${dto.courseUrl}]]<br/>
<a th:href="|courseUpdate?courseNum=${dto.courseNum}|">수정</a>|  
<a th:href="@{courseDel(courseNum=${dto.courseNum})}">삭제</a>  | 

 <a href="courseList">강의목록</a>

<ul>

<li> 커리큘럼 </li>
<li> 질의 응답 </li>
<li> 시험 </li>
<li> 학생 목록 </li>

</ul>



</body>
</html>