<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

강사번호 : [[${dto.teacherNum}]]<br/>
강의제목 : [[${dto.courseName}]]<br/>

<!-- 선생님 입장 -->
<div th:block th:if="${session.auth.grade=='tc'}">
강의실 : <a th:href="${dto.classRoom}">[[${dto.classRoom}]]</a><br/>
<a th:href="|../test/testList?courseNum=${dto.courseNum}|">시험</a>
출석
학생 목록
<a th:href="|courseUpdate?courseNum=${dto.courseNum}|">수정</a>|  
<a th:href="@{courseDel(courseNum=${dto.courseNum})}">삭제</a>  | 
<a href="courseList">강의목록</a>
</div>

<!-- 학생 입장 -->
<div th:block th:if="${session.auth.grade=='stu'}"><!-- 수강중이면 '수강중'으로 바꾸기 -->
	<th:block th:if="${courseRegisterd==0}">
		<a th:href="|../student/courseRegist?courseNum=${dto.courseNum}|">수강신청</a> 
	</th:block>
	<th:block th:if="${courseRegisterd==1}">
		
강의실 : <a th:href="${dto.classRoom}">[[${dto.classRoom}]]</a><br/>
		<a href="../question/questionList">질의응답</a> |
		<a th:href="|../test/testList?courseNum=${dto.courseNum}|">시험</a> |
		<a th:href="|../attend/attendList?courseNum=${dto.courseNum}|">출석</a>
	</th:block>
</div>
</body>
</html>