<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
  <form action="courseRegist" method="post">
	
	<table width="600" align="center">
		<caption>강의목록작성</caption>
		
		<tr><td>강의제목</td>
		<td><input type="text" name="courseName"></td>
		</tr>
		
		<tr><td>강의내용</td>
		<td><textarea rows="6" cols="40" name="courseContent"></textarea></td>
		</tr>
		
		<tr><td>강의실 주소</td>
		<td><input type="text" name="classRoom"/></td>
		</tr>
		
		<tr>
		<th colspan="2">
				<input type="submit" value="강의등록"></th>
		</tr>
		
		
	</table>
	
</form>

</body>
</html>