<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/daumAddressScript.js"></script>
<script type="text/javascript">
$(function(){
	$("#studentId").on("change keyup",function(){
		$.ajax({
			type:'post',
			url:"/login/userIdCheck",
			data:{"userId":$("#studentId").val()},
			dataType:'text',
			success:function(result){
				$("#idCheck").text(result);
				if(result.trim() == "사용가능한 아이디입니다."){
					$("#idCheck").css("color","blue");
				}else{
					$("#idCheck").css("color","red");
				}
			},
			error:function(){
				
			}
		});
	});
	$("#studentEmail").on("change keyup",function(){
		$.ajax({
			type:'post',
			url:"/checkRest/userEmailCheck",
			data:{"userEmail":$("#studentEmail").val()},
			dataType:'text',
			success:function(result){
				$("#emailCheck").text(result);
				if(result.trim()=="사용가능한 이메일입니다."){
					$("#emailCheck").css("color","blue");
				}else{$("#emailCheck").css("color","red")};
			},
			error:function(){
				
			}
		});
	});
	$("#frm").submit(function(){
		if($("#idCheck").text()=="" || $("#idCheck").text()=="사용중인 아이디입니다."){
			alert("아이디 중복확인을 해주세요");
			return false;
		}
		if($("#emailCheck").text()=="" || $("emailCheck").text()=="사용중인 이메일입니다."){
			alert("이메일 중복확인을 해주세요");
			return false;
		}
	});
});
</script>
</head>
<body>
<form action="userWrite" method="post" th:object="${studentCommand}" id="frm">
<input type="hidden" name="studentNum" th:value="${studentCommand.studentNum}" />
아이디 : <input type="text" name="studentId" id="studentId" 
										th:value="${studentCommand.studentId}"/><br />
<span id='idCheck'></span>
<span style="color:red" th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></span><br />
비밀번호 : <input type="password" name="studentPw" /> <br />
<span style="color:red" th:if="${#fields.hasErrors('studentPw')}" th:errors="*{studentPw}"></span><br />
비밀번호 확인 :  <input type="password" name="studentPwCon" /><br />
<span style="color:red" th:if="${#fields.hasErrors('studentPwCon')}" th:errors="*{studentPwCon}"></span><br />
이름 : <input type="text" name="studentName" th:value="${studentCommand.studentName}"/><br />
<span style="color:red" th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}"></span><br />
주소 : <input type="text" name="studentAddr" id="sample4_roadAddress" readonly="readonly"
				onclick="execDaumPostcode();" th:value="${studentCommand.studentAddr}"/><br />
<span style="color:red" th:if="${#fields.hasErrors('studentAddr')}" th:errors="*{studentAddr}"></span><br />										
상세주소 : <input type="text" name="studentAddr2" th:value="${studentCommand.studentAddr2}"/><br />
우편번호 :  <input type="text" name="studentPost" id="sample4_postcode" readonly="readonly"
										th:value="${studentCommand.studentPost}"/><br />
성별 : <input type="radio" name="studentGender" value="M" 
					th:checked="${studentCommand.studentGender == 'M' or studentCommand.studentGender == null}"/>남자
	  <input type="radio" name="studentGender" value="F" 
	  				th:checked="${studentCommand.studentGender == 'F'}" />여자<br />
연락처 : <input type="tel" name="studentPhone" 
										th:value="${studentCommand.studentPhone}"/> <br />
<span style="color:red" th:if="${#fields.hasErrors('studentPhone')}" th:errors="*{studentPhone}"></span><br />					
이메일 : <input type="email" name="studentEmail" id="studentEmail" 
										th:value="${studentCommand.studentEmail}"/><br />
<span id="emailCheck"></span>
<span style="color:red" th:if="${#fields.hasErrors('studentEmail')}" th:errors="*{studentEmail}"></span><br />								
생년월일 : <input type="date" name="studentBirth" 
										th:value="${#dates.format(studentCommand.studentBirth,'yyyy-MM-dd')}" /><br />
<span style="color:red" th:if="${#fields.hasErrors('studentBirth')}" th:errors="*{studentBirth}"></span><br />										
<input type="submit" value="회원등록" />
</form>
</body>
</html>