<!DOCTYPE html>
<html>

<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

table {
	width: 800px;
	border-collapse: collapse;
	margin-bottom: 40px;
	margin-left: 38px;
}
td, th {
	border: 1px solid #dddddd;
	padding: 8px;
}

   tr:first-child {
        background-color: #f2f2f2; /* 연한 회색 배경색 */
        margin-bottom: 10px; /* 첫 번째 행 아래 간격 조절 */
    }

</style>
</head>

<body class="w3-light-grey">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width: 1400px;">

		<!-- The Grid -->
		<div class="w3-row-padding">

			<!-- Left Column -->
			<div class="w3-third">

				<div class="w3-white w3-text-grey w3-card-4">
					<div class="w3-container">
						<h2>에듀 커넥트</h2>
						<th:block th:if="${grade=='tc'}">
						<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="../teacher/teacherDetail">내 정보</a></p>
						</th:block>
						<th:block th:if="${grade=='stu'}">
						<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="../student/myPage">내 정보</a></p>
						</th:block>
						<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="/">홈</a></p>
						<p><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i><a href="../login/logout">로그아웃</a></p>
						<br>
					</div>
				</div>
				<br>

				<!-- End Left Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-twothird">

				<div class="w3-container w3-card w3-white w3-margin-bottom">
					<h2 class="w3-text-grey w3-padding-16">질의응답 목록</h2>
					
					<!-- 질문 목록 리스트 -->
					<form action="questionList" method="post">
						<input type="hidden" name="courseNum" th:value="${courseNum}"/>
						<input type="search" name="searchWord" size=50 
							th:value="${searchWord}" /> <input type="submit" value="검색" />
					</form><br/>
						<table border=1 width=600px>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>등록일</th>
								
							</tr>
							<!-- 리스트에 있는 값 반복 -->
							<tr th:each="questionVO : ${list}">
								<td><a>[[${questionVO.questionNum}]]</a></td>
								<td><a
									th:href="@{questionDetail(questionNum=${questionVO.questionNum})}">[[${questionVO.questionSubject}]]</a></td>
								<td>[[${questionVO.studentName}]]</td>
								<td>[[${#dates.format(questionVO.questionDate,'yyyy-MM-dd')}]]</td>
							</tr>
							<!-- 페이지 누를 때마다 그에 맞는 리스트 불러오는 요청 -->
							<tr>
								<th colspan="6">
								<th:block th:if="${page <= 1}"> [이전] </th:block> 
								<th:block th:if="${page > 1}">
									[<a th:href="@{questionList(page=${page - 1},searchWord=${searchWord})}">이전</a>]
								</th:block> 
								
								<th:block th:each=" i  :  ${#numbers.sequence(startPage, endPage)}">
								[ <a th:href="@{questionList(page=${i},searchWord=${searchWord})}">[[${i}]]</a> ]
								
								</th:block> <th:block th:if="${page < maxPage}">
								<a th:href="@{questionList(page=${page + 1},searchWord=${searchWord})}">[다음]</a>
							    </th:block> <th:block th:if="${page >= maxPage}"> [다음] </th:block></th>
							</tr>
						</table>
				<th:block th:if="${grade=='stu'}">
				<a th:href="|questionRegist?courseNum=${courseNum}|">질문하기</a>
				</th:block>
				</div>

			</div>

			<!-- End Right Column -->
		</div>

		<!-- End Grid -->
	</div>

	<!-- End Page Container -->

	<footer class="w3-container w3-teal w3-center w3-margin-top">
		<p>Find me on social media.</p>
		<i class="fa fa-facebook-official w3-hover-opacity"></i> <i
			class="fa fa-instagram w3-hover-opacity"></i> <i
			class="fa fa-snapchat w3-hover-opacity"></i> <i
			class="fa fa-pinterest-p w3-hover-opacity"></i> <i
			class="fa fa-twitter w3-hover-opacity"></i> <i
			class="fa fa-linkedin w3-hover-opacity"></i>
		<p>
			Powered by <a href="https://www.w3schools.com/w3css/default.asp"
				target="_blank">w3.css</a>
		</p>
	</footer>

</body>

</html>