<!DOCTYPE html>
<html>

<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif
}


table {
	width: 800px;
	border-collapse: collapse;
	margin-bottom: 40px;
	margin-left: 38px;
}

td, th {
	border: 1px solid #dddddd;
	padding: 8px;
}

th:first-child, td:first-child {
  background-color: #f2f2f2;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

</style>
</head>

<body class="w3-light-grey">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width: 1400px;">

		<!-- The Grid -->
		<div class="w3-row-padding">

			<!-- Left Column -->
			<div class="w3-third">

				<div class="w3-white w3-text-grey w3-card-4">
					<div class="w3-container">
						<h2>에듀 커넥트</h2>
						<p>이름</p>
						<p>내 정보</p>
						<p>홈</p>
						<p>로그아웃</p>
						<br>
					</div>
				</div>
				<br>

				<!-- End Left Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-twothird">

				<div class="w3-container w3-card w3-white w3-margin-bottom">
					<h2 class="w3-text-grey w3-padding-16">Q) [[${questionCommand.questionSubject}]] </h2>
					 <div class="w3-container">
				         <h5 class="w3-opacity"><b>작성자 [[${studentName}]] | 등록일 [[${#dates.format(questionCommand.questionDate,'yyyy-MM-dd')}]]</b></h5>
				          <p>[[${questionCommand.questionContent}]]</p>
				          <hr>
				          <th:block th:if="${questionCommand.answerContent == null}">
				         <h6 class="w3-text-teal">
					        <i class="fa fa-calendar fa-fw w3-margin-right"></i>
					        <span class="w3-tag w3-teal w3-round">
					            <a href="questionDelete">삭제</a>
					        </span>
					    </h6>
				          </th:block>
				        </div>
				      <th:block th:if="${questionCommand.answerContent != null}">
						    <h3 class="w3-text-grey w3-padding-16"> 선생님 답변 </h3>
						    <div class="w3-container">
						        <h5 class="w3-opacity">
						            <b>작성자 [[${teacherName}]] | 등록일 [[${#dates.format(questionCommand.answerDate,'yyyy-MM-dd')}]] | 최종수정일 [[${#dates.format(questionCommand.updateDate,'yyyy-MM-dd')}]]</b>
						        </h5>
						        <p>[[${questionCommand.answerContent}]]</p>
						        <hr>
						    </div>
						</th:block>
			</div>
			<div th:if="${grade =='teacher'}">
				<div th:if="${questionCommand.answerContent==null}">
					    <h6 class="w3-text-teal">
					        <i class="fa fa-calendar fa-fw w3-margin-right"></i>
					        <span class="w3-tag w3-teal w3-round">
					            <a href="answerRegister">답변하기</a>
					        </span>
					    </h6>
				</div>
				<div th:if="${questionCommand.answerContent!='null'}">
					    <h6 class="w3-text-teal">
					        <i class="fa fa-calendar fa-fw w3-margin-right"></i>
					        <span class="w3-tag w3-teal w3-round">
					            <a href="answerUpdate">수정하기</a>
					        </span>
					    </h6>
				</div>
			</div>

			<!-- End Right Column -->
		</div>

		<!-- End Grid -->

	<!-- End Page Container -->

	<footer class="w3-container w3-teal w3-center w3-margin-top">
		<p>Find me on social media.</p>
		<i class="fa fa-facebook-official w3-hover-opacity"></i> <i
			class="fa fa-instagram w3-hover-opacity"></i> <i
			class="fa fa-snapchat w3-hover-opacity"></i> <i
			class="fa fa-pinterest-p w3-hover-opacity"></i> <i
			class="fa fa-twitter w3-hover-opacity"></i> <i
			class="fa fa-linkedin w3-hover-opacity"></i>
		<p>
			Powered by <a href="https://www.w3schools.com/w3css/default.asp"
				target="_blank">w3.css</a>
		</p>
	</footer>

</body>

</html>